
<div class="container"> 
<rb-carousel [dataSource]="imageArray" [caroselSettings]="caroselSettings"
(carouselEnd)="corouselEvent($event)"
 (transitionStart)="transitionStart($event)" 
 (transitionEnd)="transitionEnd($event)"
 (onNextSlide)="onNextSlide($event)"
 (onPreviousSlide)="onPreviousSlide($event)"
 ></rb-carousel>

</div>
<div class="container"> 
    <rb-carousel [dataSource]="imageArray" [caroselSettings]="caroselSettings"
    (carouselEnd)="corouselEvent($event)"></rb-carousel>
    
    </div>
    